@font-face {
  font-family: 'Glacial Indifference';
  src: url("../fonts/glacial-indifference-regular.eot");
  src: url("../fonts/glacial-indifference-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glacial-indifference-regular.woff") format("woff"), url("../fonts/glacial-indifference-regular.ttf") format("truetype");
  font-display: optional; }
@font-face {
  font-family: 'Playlist Script';
  src: url("../fonts/playlist-script.eot");
  src: url("../fonts/playlist-script.eot?#iefix") format("embedded-opentype"), url("../fonts/playlist-script.woff") format("woff"), url("../fonts/playlist-script.ttf") format("truetype");
  font-display: optional; }
@font-face {
  font-family: 'Glacial Indifference Bold';
  src: url("../fonts/glacial-indifference-bold.eot");
  src: url("../fonts/glacial-indifference-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/glacial-indifference-bold.woff") format("woff"), url("../fonts/glacial-indifference-bold.ttf") format("truetype");
  font-display: swap; }
a:focus {
  outline-color: #CA4A2B; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #FFFBF5;
  font-size: 17px;
  font-family: "Glacial Indifference", sans-serif;
  line-height: 1.5;
  color: #000;
  overflow: visible;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin: 0 0 33px 0;
  font-family: "Glacial Indifference Bold", sans-serif;
  font-weight: bold; }

h2, h4, h5, h6 {
  color: #CA4A2B; }

h1 {
  font-size: 54px;
  font-family: "Glacial Indifference", sans-serif;
  color: #000;
  font-weight: normal; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 20px; }

button:focus {
  outline: auto; }

button:focus-visible {
  outline: 5px auto -webkit-focus-ring-color; }

a:not(.button) {
  color: #000;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1); }
  a:not(.button):hover, a:not(.button).active {
    color: #CA4A2B;
    text-decoration: none; }
  a:not(.button)::after, a:not(.button).active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #CA4A2B;
    content: "";
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }
  a:not(.button):hover::after, a:not(.button).active::after {
    -webkit-transform: scale(1);
    transform: scale(1); }

a.inverse {
  color: #CA4A2B; }
  a.inverse::after {
    -webkit-transform: scale(1);
    transform: scale(1); }
  a.inverse:hover::after {
    -webkit-transform: scale(0);
    transform: scale(0); }

a.button {
  background-color: #CA4A2B;
  color: #FFFBF5;
  padding: 6px 8px 6px 24px !important;
  border-radius: 28px;
  position: relative;
  vertical-align: middle;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center; }
  a.button::after {
    content: "";
    height: 30px;
    width: 30px;
    background-image: url(../images/arrow-right-short.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 30px;
    vertical-align: bottom;
    margin-left: 20px;
    background-color: #FAE1D7;
    display: -ms-flexbox;
    display: inline-block;
    transition: margin-left 400ms ease-in-out; }
  a.button:hover {
    text-decoration: none; }
  a.button:hover::after {
    margin-left: 27px; }

mark {
  font-family: "Playlist Script", cursive;
  color: #000;
  background: inherit;
  font-weight: normal;
  font-size: 1.1em;
  text-shadow: 2px 1px 1px rgba(202, 74, 43, 0.21); }

img {
  width: 100%;
  height: auto; }

main {
  margin: 78px 0; }
  main.single-product {
    margin: 20px auto; }
  main article {
    margin-bottom: 100px; }

.link-container {
  margin: auto auto 0 0; }

.lazy {
  background-image: none;
  background-color: #FAE1D7; }

.overlap-text {
  position: relative; }
  .overlap-text mark {
    position: absolute;
    right: -33%;
    font-size: 1.4em;
    -webkit-transform: rotate(-11deg);
    transform: rotate(-11deg); }

.ie9-error.outer-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #FFFBF5;
  z-index: 1000;
  text-align: center; }
  .ie9-error.outer-container .inner-container {
    margin: 80px auto;
    max-width: 600px;
    padding: 15px; }

nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
nav .navbar-expand-lg .navbar-nav .nav-link, nav .nav-link {
  padding: 0; }

.nav-primary {
  padding: 30px 15px; }
  .nav-primary .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .nav-primary .nav-item.right {
      text-align: right; }
    .nav-primary .nav-item .nav-link {
      display: -ms-inline-flexbox;
      display: inline-flex; }
  .nav-primary .navbar-brand {
    margin-right: 0; }
    .nav-primary .navbar-brand img {
      width: auto;
      height: 80px; }
    .nav-primary .navbar-brand a::after {
      display: none; }
  .nav-primary .navbar-nav {
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .nav-primary .navbar-nav a.nav-link:not(.button) {
      color: #CA4A2B; }
  .nav-primary .mob-logo {
    display: none; }

header .row {
  -ms-flex-align: center;
  align-items: center;
  min-height: 202px; }
header .carousel-inner figure {
  margin-bottom: 0; }
  header .carousel-inner figure img {
    width: auto; }
header p {
  font-size: 20px;
  margin-bottom: 43px; }
header .button {
  margin-bottom: 43px; }
header.inner-header {
  margin: 20px auto 0;
  background-image: url("../images/paint-stroke.svg");
  background-repeat: no-repeat;
  background-size: 47%;
  background-position: right center;
  min-height: 202px; }
  header.inner-header h1 {
    font-size: 40px; }
  header.inner-header p {
    font-size: 1em; }
header mark {
  color: #CA4A2B; }

.nav-secondary {
  background-color: #FAE1D7;
  padding: 20px 0; }
  .nav-secondary .navbar-nav {
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.pink-strip {
  background-color: #FAE1D7;
  height: 50px; }

.cards {
  margin-top: 43px; }
  .cards .outer-container {
    display: -ms-flexbox;
    display: flex; }
    .cards .outer-container .inner-container {
      background: #FFFBF5;
      box-shadow: 0 0 12px -8px #CA4A2B;
      padding: 80px 40px;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      border-bottom: 10px solid #FAE1D7;
      max-width: 100%; }
    .cards .outer-container .card-icon {
      color: #CA4A2B; }
    .cards .outer-container .title {
      margin: 0; }
    .cards .outer-container p {
      margin: 40px 0; }
    .cards .outer-container a.card-link {
      font-family: "Glacial Indifference Bold", sans-serif; }
    .cards .outer-container .card-icon {
      margin: 0 0 20px 0; }
  .cards.testimonials p {
    margin: 0 0 40px 0; }
    .cards.testimonials p::before {
      content: '"';
      display: block;
      font-size: 1.4em; }
  .cards.testimonials h3 {
    font-size: 0.85em;
    text-transform: capitalize;
    color: #CA4A2B; }
  .cards.add-info {
    margin-top: 76px; }
    .cards.add-info .inner-container {
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .cards.add-info .inner-container .list-container {
        margin: 10px 40px 10px 5px; }
      .cards.add-info .inner-container ul {
        -webkit-padding-start: 20px;
        -moz-padding-start: 20px;
        padding-inline-start: 20px; }
      .cards.add-info .inner-container h3 {
        font-size: 21px; }
  .cards.order p {
    margin-bottom: 0; }

.products {
  margin-top: 0;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .products .title, .products .price {
    margin-bottom: 2px; }
  .products.thumbnails {
    margin-bottom: 50px; }
    .products.thumbnails .inner-container .title {
      font-size: 26px; }
      .products.thumbnails .inner-container .title a {
        color: #CA4A2B; }
    .products.thumbnails .inner-container .price {
      font-family: "Glacial Indifference", sans-serif;
      font-size: 18px; }
    .products.thumbnails figure {
      overflow: hidden; }
      .products.thumbnails figure a.image img {
        -webkit-transform: scale(1);
        transform: scale(1);
        transition: -webkit-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; }
        .products.thumbnails figure a.image img:hover {
          -webkit-transform: scale(1.08);
          transform: scale(1.08); }
      .products.thumbnails figure a.image:hover::after {
        display: none; }
  .products.single .inner-container {
    padding: 0;
    max-width: 90%; }
    .products.single .inner-container .title {
      font-size: 40px; }
    .products.single .inner-container .price {
      font-weight: normal;
      font-size: 26px;
      font-family: "Glacial Indifference", sans-serif; }
    .products.single .inner-container hr {
      margin: 43px 0;
      width: 55px;
      border: none;
      background-color: #FAE1D7;
      height: 5px; }
    .products.single .inner-container .add-info-note {
      display: block;
      margin-top: 25px; }
    .products.single .inner-container .link-container {
      margin-top: 43px; }
    .products.single .inner-container dl.single-product-pricing {
      display: grid;
      grid-template-columns: 1fr auto;
      margin: 43px 0; }
      .products.single .inner-container dl.single-product-pricing dd {
        color: #CA4A2B;
        font-family: "Glacial Indifference Bold", sans-serif; }
      .products.single .inner-container dl.single-product-pricing dt {
        padding-right: 15px;
        font-weight: 600; }
        .products.single .inner-container dl.single-product-pricing dt .subtext {
          font-family: "Glacial Indifference", sans-serif;
          margin: 10px 0 0 10px;
          font-weight: normal; }
    .products.single .inner-container .description-list {
      margin: 43px 0; }
      .products.single .inner-container .description-list h3 {
        margin-bottom: 1rem;
        color: #CA4A2B;
        font-family: "Glacial Indifference Bold", sans-serif;
        font-size: 1rem; }

.crt-grid-post .crt-post-hover .crt-post-text {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.crt-post-hover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  .crt-post-hover > div {
    margin: auto;
    width: 85%; }

.curator-feed-default-feed-layout {
  font-family: "Glacial Indifference", sans-serif; }

.crt-post-header .crt-social-icon {
  display: none; }
  .crt-post-header .crt-social-icon .crt-icon-instagram::before {
    display: none; }

.crt-popup a::after, .crt-popup-header .crt-social-icon, .crt-post-footer {
  display: none !important; }

.crt-popup-wrapper .crt-popup .crt-popup-header .crt-post-name {
  left: 60px !important; }

.crt-grid-post .crt-post-text {
  font-size: 14px !important; }

.crt-popup-wrapper .crt-popup .crt-popup-right {
  font-size: 16px !important; }

.crt-popup-left {
  width: auto !important; }

.crt-popup-container div, .crt-popup-container p {
  font-family: "Glacial Indifference", sans-serif; }

.note-asterisk::before {
  content: "*";
  color: #CA4A2B;
  font-family: "Glacial Indifference Bold", sans-serif;
  font-size: 1.1em; }

.google-review-cta {
  background-color: #fae1d7;
  margin: 20px 0 0;
  padding: 20px;
  text-align: center; }
  .google-review-cta a, .google-review-cta a:hover {
    color: #000; }

.order-form {
  width: 100%; }

.full-background {
  z-index: -1;
  background-color: #fae1d7;
  content: '';
  height: 380px;
  width: 100%;
  position: absolute;
  left: 0;
  padding: 40px; }

.cta-banner {
  margin: 140px auto;
  text-align: center; }
  .cta-banner.browse-link {
    text-align: right;
    margin: 0 0 100px 0; }

#faq .faq-container {
  border-bottom: 1px solid #b3b2b1;
  padding: 35px 0; }
  #faq .faq-container.first {
    padding-top: 15px; }
  #faq .faq-container.last {
    border: none;
    padding-bottom: 0; }
#faq .question {
  font-weight: normal;
  background-color: #fae1d7;
  padding: 15px;
  border-left: 8px solid #ca4a2b;
  margin: 0;
  font-family: 'Glacial Indifference';
  font-size: 23px; }
  #faq .question::before {
    content: "Q. ";
    color: #ca4a2b;
    margin-right: 10px;
    font-family: 'Glacial Indifference bold';
    font-weight: bold;
    font-size: 26px; }
#faq .answer {
  position: relative;
  padding: 15px;
  border-left: 8px solid #fae1d7;
  margin: 0; }
  #faq .answer::before {
    content: "A. ";
    margin-right: 10px;
    font-size: 26px;
    font-family: 'Glacial Indifference bold'; }

footer {
  background-color: #FAE1D7;
  padding: 50px 0; }
  footer h4 {
    margin: 0 0 15px 0; }
  footer .copy {
    text-align: right;
    margin: auto 0 0 0;
    height: 100%; }
    footer .copy p {
      margin: 10px 0 0 0; }
  footer nav .nav-item {
    padding: 5px 0; }
  footer nav.navbar {
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  footer nav .explore {
    padding: 0 70px 0 0; }
  footer nav .nav-link {
    display: -ms-inline-flexbox;
    display: inline-flex; }
  footer .menu {
    border-right: 1px solid #CA4A2B; }
  footer .social-icon {
    padding: 5px; }
    footer .social-icon::after {
      display: none; }

@media only screen and (min-width: 992px) {
  #carousel-product .carousel-indicators {
    display: none; }

  #carousel-product .carousel-item {
    display: block;
    margin-right: 0; } }
@media only screen and (max-width: 991.98px) {
  h1 {
    font-size: 40px; }

  h2 {
    font-size: 30px; }

  h3 {
    font-size: 20px; }

  body::after {
    visibility: hidden;
    content: "";
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s ease-in-out; }

  body.overlay-show::after {
    visibility: visible;
    opacity: 1; }

  nav .nav-item {
    padding: 15px 0; }

  .nav-primary .navbar-nav {
    margin: 0;
    width: auto; }
    .nav-primary .navbar-nav a.nav-link:not(.button) {
      color: #000; }
  .nav-primary .navbar-brand {
    display: none !important; }
    .nav-primary .navbar-brand img {
      height: 65px; }
  .nav-primary .mob-logo {
    display: inline-block !important; }
  .nav-primary .close {
    z-index: 999;
    position: fixed;
    top: 10px;
    right: 10px; }
    .nav-primary .close .navbar-toggler-icon {
      background-image: url("../images/close-icon.svg"); }
  .nav-primary .navbar-collapse {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -315px;
    height: 100vh;
    width: 315px;
    z-index: 998;
    background-color: rgba(250, 225, 215, 0.95);
    text-align: center;
    visibility: hidden;
    transition: right 0.4s ease-in-out; }
    .nav-primary .navbar-collapse.show {
      right: 0px;
      visibility: visible; }

  header.inner-header {
    background-image: none;
    margin: 0 auto;
    min-height: 110px; }
    header.inner-header .row {
      min-height: auto; }

  .nav-secondary {
    padding: 15px; }
    .nav-secondary .navbar-nav {
      margin: 30px auto;
      -ms-flex-align: end;
      align-items: flex-end; }
    .nav-secondary .navbar-toggler {
      margin-left: auto; }

  main.single-product {
    margin: 0 auto; }

  .cards .outer-container {
    padding: 20px 15px; }
  .cards.add-info .outer-container {
    padding: 20px 0; }
  .cards.products .inner-container {
    margin: 40px auto; }

  .products .inner-container, .products.single .inner-container {
    margin: 30px auto;
    max-width: 100%; }
  .products.thumbnails {
    margin-bottom: 30px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  dl.single-product-pricing {
    grid-template-columns: 1fr 1fr; } }
@media only screen and (max-width: 767px) {
  footer .menu {
    border-right: none; }

  .carousel-item {
    max-height: 390px; }
    .carousel-item img {
      max-width: 100%;
      height: auto; }

  .cards.add-info .outer-container .inner-container {
    padding: 80px 30px; }

  .products.single .inner-container .title {
    font-size: 33px; }
  .products.single .inner-container .price {
    font-size: 22px; } }
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; } }

/*# sourceMappingURL=custom-min.css.map */
